language: emacs-lisp
sudo: required
dist: trusty
cache:
  - directories:
      - "$HOME/emacs/"
matrix:
  fast_finish: true
  allow_failures:
    - env: EMACS_VERSION=25.1-rc2
    - env: EMACS_VERSION=25.3
    - env: EMACS_VERSION=snapshot
env:
  - EMACS_VERSION=25.1-rc2
  - EMACS_VERSION=25.3
  - EMACS_VERSION=26.0.91 PRETEST=yes
  - EMACS_VERSION=snapshot
before_install:
  - export PATH="$HOME/bin:$PATH"
  - wget 'https://raw.githubusercontent.com/flycheck/emacs-travis/master/emacs-travis.mk'
  - make -f emacs-travis.mk install_emacs
script:
  - cd test && emacs -Q -l rbtagger-test.el --batch -f ert-run-tests-batch-and-exit